.card {
  border-radius: 12px;
  box-shadow: 0px 0px 4px -1px var(--boxshadowColor);
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  height: 6rem;
  padding: 2rem;
  margin: 1rem;
  text-align: left;
}

.card-row {
  display: flex;
  flex-direction: row;
}
.card-col {
  display: flex;
  flex-direction: column;
}
.city {
  font-size: large;
  margin-top: 0;
  flex-grow: 1;
  padding-left: 2rem;
}

.population {
  font-size: medium;
  padding-left: 2rem;
}
